<div id="img_tipos_seguros">
  <img src="../images/img_tipos_seguros.jpg">
</div>


<div id="tipos_seguros">
  <%content_for :insurances_box do%>
    <%=render :partial => "layouts/tipos_seguros", :locals => {:var => 4 , :div_name => "tipos_seguros"}%>
  <%end%>
</div>

