<div id="menu_img_parceiros">
  <span id="menu_img_parceiro_titulo">
    <img src="../images/parceiros.jpg">
  </span>
  <span id="menu_img_parceiro_logos">
    <img src="../images/ricar_logo.jpg">
    <img src="../images/ricar_locadora_logo.jpg">
    <img src="../images/ricar_logo.jpg">
    <img src="../images/tem_logo.jpg">
  </span>
</div>

