<div id="menu_img_seguradoras">
   	<span id="menu_img_seguradora_titulo">
     	<!-- <img src="../images/seguradoras.jpg"> -->
    </span>
    <span id="menu_img_seguradora_logos">

      <% for item in Affiliate.all %>

        <span>
          <% link_to item.website do %>
            <%= image_tag item.data.url(:small) %>
          <% end %>
        </span>

      <% end %>

    </span>
</div>
      <!--
      <img src="../images/porto_logo.jpg">
      <img src="../images/mapfre_logo.jpg">
      <img src="../images/azul_logo.jpg">
      <img src="../images/sulamerica_logo.jpg">
      -->

