<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>JR Corretora de Seguros</title>
<%= stylesheet_link_tag 'jr' %>


</head>

<body>
	<div id="box_all" class="box_all">
	<div id="pag_fundo">
		
        <div id="topo">
            <img id="img_top" src="../images/topo.jpg">
        </div>
        <div id="conteudo">
            <div id="menu_esquerda">
            	<div id="menu_esquerda_img" class="menu_img"><img src="../images/menu_fatiado_01.gif" /></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_02.gif" class="menu_img_home">		</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_03.gif" class="menu_img_quem_somos">	</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_04.gif" class="menu_img_produtos">	</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_05.gif" class="menu_img_seguradora">	</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_06.gif" class="menu_img_cotacao">	</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_07.gif" class="menu_img_contato">	</a></div>
                <div id="menu_esquerda_img" class="menu_img"><a href="../images/menu_fatiado_08.gif" class="menu_img_localizacao"></a></div>
                <div id="menu_esquerda_img" class="menu_img"><img src="../images/menu_fatiado_09.jpg" /></div>
            </div>
            <div id="menu_img_seguradoras">
            	<span id="menu_img_seguradora_titulo">
                	<img src="../images/seguradoras.jpg">
                </span>
                <span id="menu_img_seguradora_logos">
                	<a href src="http://www.portoseguro.com.br/porto-seguro/home.html"><img src="../images/porto_logo.jpg"></a>
                    <a href src="http://www.mapfre.com.br/Default.aspx"><img src="../images/mapfre_logo.jpg"></a>
                    <a href src="http://www.azulseguros.com.br/"><img src="../images/azul_logo.jpg"></a>
                    <a href src="http://portal.sulamericaseguros.com.br"><img src="../images/sulamerica_logo.jpg"></a>
                 </span>
            </div>
            <div id="menu_img_parceiros">
            	<span id="menu_img_parceiro_titulo">
                	<img src="../images/parceiros.jpg">
                </span>
                <span id="menu_img_parceiro_logos">
                	 <a href src="http://www.ricar.com.br"><img src="../images/ricar_logo.jpg"></a>
                	 <a href src="http://www.ricarlocadora.com.br"><img src="../images/ricar_locadora_logo.jpg"></a>
                     <a href src="http://www.ricar.com.br"><img src="../images/ricar_logo.jpg"></a>
                     <a href src="http://www.temsoftware.com.br"><img src="../images/tem_logo.jpg"></a>
                </span>
            </div>
            <div id="img_tipos_seguros">
                <img src="../images/img_tipos_seguros.jpg">
            </div>
            <%= yield%>
            </div>
        
        <div id="rodape">
            
        </div>
	</div>
	</div>       
</body>
</html>
